// Foundation settings

// 1. Typography

$font-family-sans-serif-han: "Source Han Sans TC", "Microsoft Jhenghei", "Hiragino Sans GB";
$font-family-sans-serif-latin: "Helvetica Neue", Helvetica, Roboto, Arial;

$font-family-sans-serif: join($font-family-sans-serif-latin, $font-family-sans-serif-han), sans-serif;
$body-font-family: $font-family-sans-serif;

$h1-font-size: 3.5rem;
$h2-font-size: 2.8125rem;
$h3-font-size: 2.125rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

// 2. Colors

$body-font-color: #212121;

$primary-color: #03a9f4;
$primary-color-100: #b3e5fc;
$primary-color-200: #81d4fa;
$primary-color-300: #4fc3f7;
$primary-color-600: #039be5;
$primary-color-700: #0288d1;
$primary-color-800: #027bbd;

$secondary-color: #757575;
$alert-color: #f44336;
$success-color: #4caf50;
$warning-color: #ff9800;
$info-color: #b3e5fc;

// 3. Global styles

$global-radius: 4px;
$global-transition-effect: 0.28s cubic-bezier(0.4, 0, 0.2, 1);

// 4. Top bar

$topbar-height: 48px;
$topbar-bg-color: rgba($primary-color-300, 0);

$topbar-title-weight: 500;
$topbar-title-font-size: 1.25rem; // 20px

$topbar-dropdown-bg: $topbar-bg-color;
$topbar-dropdown-link-color: #333;
$topbar-dropdown-link-bg: $topbar-bg-color;
$topbar-dropdown-toggle-color: #333;

$topbar-link-color: $body-font-color;
$topbar-link-bg: $topbar-bg-color;
$topbar-link-font-size: 0.875rem; // 14px

$topbar-link-color-hover: #fff;
$topbar-link-bg-hover: $primary-color-300;

$topbar-link-color-active: $primary-color;
$topbar-link-color-active-hover: $primary-color-300;
$topbar-link-bg-active: $topbar-bg-color;
$topbar-link-bg-active-hover: $topbar-bg-color;

$topbar-dropdown-label-color: $primary-color-600;
$topbar-dropdown-label-bg: $topbar-bg-color;

$topbar-menu-link-weight: normal;
$topbar-menu-link-color: $body-font-color;
$topbar-menu-icon-color: $body-font-color;
$topbar-menu-link-color-toggled: $primary-color-300;
$topbar-menu-icon-color-toggled: $primary-color-300;
