@import 'settings';
@import 'foundation';
@import 'icons';

.contain-to-grid:first-child + div {
    padding-top: 16px;
}

nav.top-bar {
    .menu.icon {
        color: $topbar-menu-icon-color;
        & > span { display: none; }
        &:before {
            position: absolute;
            top: 15px;
            right: 16px;
        }
    }

    &:not(.expanded) {
        margin-bottom: -16px;
        .icon > span { display: none; }
    }

    &.expanded {
        box-shadow: $shadow-z-1;

        li .icon:before {
            position: absolute;
            right: 16px;
        }

        .menu.icon {
            color: $topbar-menu-icon-color-toggled;
        }
    }
}

nav.top-bar li {
    & > a {
        transition: all $global-transition-effect;
    }

    @media #{$large-up} {
        & > a {
            border-bottom: 2px solid rgba($primary-color, 0);
            padding-top: -2px;
        }

        &:hover { border-bottom-color: $primary-color-300; }
        &.active > a:hover { border-bottom-color: $primary-color; }
    }

    .icon:before { color: $secondary-color; }
}

.material-card {
    background: #fff;
    padding: 16px 0;

    a {
        display: block;
        &:hover > img {
            box-shadow: $shadow-z-2;
        }
    }

    img {
        transition: all $global-transition-effect;
        border-radius: $global-radius;
        box-shadow: $shadow-z-1;
        pointer-events: none;
    }
}

.avatar {
    border-radius: 50%;
}

.people {
    text-align: center;

    @include block-grid(1);
    @media #{$medium-up} { @include block-grid(3); }
    @media #{$large-up} { @include block-grid(5); }

    li { padding: 16px; }
    .avatar { margin: 8px 0; }
    h5 { font-weight: 500; }
    h6 { color: $secondary-color; }
}

footer {
    color: $secondary-color;
}
